body {
    margin: 0;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
    border-bottom: 2px solid yellowgreen;
}

.search-input {
    width: 250px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 8px;
}

#searchBtn {
   height: 25px;
   border-radius: 8px;
   border: none;
}

.render-container {
    background-color: #6b6b6b;
    height: calc(100vh - 255.78px);
}